In [2]:
from covidtracker import CovidTracker
import numpy as np

In [3]:
cd = CovidTracker()

In [4]:
cd.load_counties()

In [5]:
dt=cd.getmostrecentdate()

In [9]:
diff = cd.getperioddifference('2020-05-22', 7, stat='cases', pct_change=True)

In [10]:
diff.replace([np.inf], 0).sort_values(ascending=False)

state           county
Tennessee       Rhea          26.571429
North Dakota    Traill        19.000000
Missouri        Audrain       12.500000
Iowa            Wright        11.142857
West Virginia   Pocahontas    11.000000
South Dakota    Aurora         9.000000
Kansas          Nemaha         8.000000
Arkansas        Yell           7.444444
Virginia        Unknown        7.333333
Iowa            Taylor         6.000000
South Dakota    Buffalo        6.000000
Iowa            Emmet          6.000000
North Dakota    Emmons         5.000000
Iowa            Cass           5.000000
Minnesota       Pennington     5.000000
California      Del Norte      4.750000
West Virginia   Randolph       4.600000
Iowa            Union          4.000000
Oklahoma        Choctaw        3.666667
South Dakota    Beadle         3.454545
North Dakota    Eddy           3.000000
South Dakota    Marshall       3.000000
Georgia         Echols         2.933333
Iowa            Hancock        2.666667
Kansas          Jackson        2.652174
Iowa            Kossuth        2.500000
Florida         Taylor         2.333333
Texas           Bailey         2.333333
Minnesota       Todd           2.043478
Illinois        Stark          2.000000
                                ...
Iowa            Unknown             NaN
Kansas          Comanche            NaN
                Hodgeman            NaN
                Lane                NaN
                Ness                NaN
                Trego               NaN
Kentucky        Bell                NaN
                Elliott             NaN
                Magoffin            NaN
                Wolfe               NaN
Michigan        Ontonagon           NaN
Missouri        Schuyler            NaN
Nebraska        Harlan              NaN
                Nuckolls            NaN
Nevada          Storey              NaN
                Unknown             NaN
New Mexico      Hidalgo             NaN
North Carolina  Avery               NaN
North Dakota    Bottineau           NaN
                Griggs              NaN
                Steele              NaN
Oklahoma        Coal                NaN
Tennessee       Hancock             NaN
Texas           Hall                NaN
                Mills               NaN
                San Saba            NaN
Utah            Unknown             NaN
Wisconsin       Langlade            NaN
                Taylor              NaN
Wyoming         Platte              NaN
Name: cases, Length: 2959, dtype: float64

In [15]:
audrain=cd.getcountyframe('Missouri', 'Audrain')

In [ ]:
fla.loc['2020-05-22']-fla.loc['2020-05-15']

In [ ]:
fla.loc['2020-05-15']-fla.loc['2020-05-08']

In [ ]:
fla.loc['2020-05-08']-fla.loc['2020-05-01']

In [ ]:
oneweekago = cd.getdateframe('2020-05-15', indexed=True)

In [ ]:
diff=yesterday['cases']-oneweekago['cases']

In [ ]:
diff.sort_values(ascending=False)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
ca_cases = ca['cases'].rename('ca')
mi_cases = mi['cases'].rename('mi')

In [ ]:
import pandas as pd

In [ ]:
ca_vs_mi=pd.concat([ca_cases, mi_cases], axis=1, join='inner')

In [ ]:
ca_vs_mi.plot()

In [ ]:
ca_vs_mi.pct_change(periods=30, fill_method='ffill').dropna()

In [16]:
audrain

              date   county     state  cases  deaths
71430   2020-04-19  Audrain  Missouri      1       0
74201   2020-04-20  Audrain  Missouri      1       0
76979   2020-04-21  Audrain  Missouri      1       0
79761   2020-04-22  Audrain  Missouri      1       0
82557   2020-04-23  Audrain  Missouri      1       0
85358   2020-04-24  Audrain  Missouri      1       0
88165   2020-04-25  Audrain  Missouri      1       0
90978   2020-04-26  Audrain  Missouri      1       0
93797   2020-04-27  Audrain  Missouri      1       0
96630   2020-04-28  Audrain  Missouri      1       0
99472   2020-04-29  Audrain  Missouri      1       0
102320  2020-04-30  Audrain  Missouri      1       0
105177  2020-05-01  Audrain  Missouri      1       0
108038  2020-05-02  Audrain  Missouri      1       0
110905  2020-05-03  Audrain  Missouri      1       0
113779  2020-05-04  Audrain  Missouri      1       0
116657  2020-05-05  Audrain  Missouri      1       0
119539  2020-05-06  Audrain  Missouri      1       0
122436  2020-05-07  Audrain  Missouri      1       0
125340  2020-05-08  Audrain  Missouri      1       0
128248  2020-05-09  Audrain  Missouri      1       0
131159  2020-05-10  Audrain  Missouri      2       0
134070  2020-05-11  Audrain  Missouri      2       0
136981  2020-05-12  Audrain  Missouri      2       0
139896  2020-05-13  Audrain  Missouri      2       0
142813  2020-05-14  Audrain  Missouri      2       0
145734  2020-05-15  Audrain  Missouri      2       0
148660  2020-05-16  Audrain  Missouri      2       0
151591  2020-05-17  Audrain  Missouri      2       0
154524  2020-05-18  Audrain  Missouri      2       0
157462  2020-05-19  Audrain  Missouri      6       0
160409  2020-05-20  Audrain  Missouri     18       0
163360  2020-05-21  Audrain  Missouri     21       0
166318  2020-05-22  Audrain  Missouri     27       0